.container .overflow {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
}


.container .scroll {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.container .scroll::-webkit-scrollbar{
    width: 5px; 
}
      
      
.container .scroll::-webkit-scrollbar-track {
    background: transparent; 
}


.container .scroll::-webkit-scrollbar-thumb:hover {
    background: var(--color-light);
}


.container:hover .scroll::-webkit-scrollbar-thumb {
    background: #5a5a5a; 
    scrollbar-width: thin;
    border-radius: 5px;
}
