* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html { 
    scrollbar-width: none;
}


:root {
    --color-primary: #0275d8;
    --color-secondary: #5bc0de;
    --color-success: #5cb85c;
    --color-danger: #d9534f;
    --color-warning: #f0ad4e;
    --color-info: #5bc0de;


    --color-light: #f7f7f7;
    --color-dark: #292b2c;

    --font-xl: 2rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-sm: 0.875rem;

    --spacing-base: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-sm: 0.5rem;

    --font-code: 'Source Code Pro', monospace;
    --font-body: 'Roboto', sans-serif;

    --typing-steps: 20; /* Estimativa para o seu texto longo */
    --typing-speed: 4.0s; /* Tempo total da digitação */

}


body {
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    line-height: 1.6;
    padding: var(--spacing-base);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}




/* screen desktop */
@media (width >= 64rem) {
    
    html {
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }


}