#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-lg);
    border-bottom: 2px solid var(--color-primary);
    user-select: none;
    
}

#header h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-family: var(--font-code);
    padding: 0 0 0.5rem 0;
    width: 100%;
    max-width: 500px;    

}

@media (width <= 400px){
    #header h1 {
        font-size: var(--font-size-sm);
    }
}

@media (width >= 401px) and (width <= 800px){
    #header h1 {
        font-size: var(--font-size-lg);
    }
}

@media (width > 800px){
    #header h1 {
        font-size: var(--font-xl);
    }
}

#header p {
    text-align: justify;
    font-size: var(--font-size-sm);
    max-width: 600px;
}
