#header {
    
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-base);
}

#header h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-family: var(--font-code);
    padding: 0 0 0.5rem 0;
    width: 100%;
    max-width: 31.25rem; 
    font-size: var(--font-size-base);
   

}


@media (width >= 28.1875rem) and (width <= 50rem){
    #header h1 {
        max-width: 36.5625rem;
        font-size: var(--font-xl);
    }
}

@media (width > 50rem){
    #header h1 {
        max-width: 43.75rem;
        font-size: var(--font-xl);
    }
}

#header p {
    text-align: justify;
    font-size: var(--font-size-sm);
    max-width: 600px;
    text-indent: 0.625rem;
}

@media (width >= 28.1875rem) and (width <= 50rem){
    #header p {
        font-size: var(--font-size-sm);
    }
}
@media (width > 50rem){
    #header p {
        font-size: var(--font-size-base);
    }
}