#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-base);
    border-bottom: 2px solid var(--color-primary);
    user-select: none;
    
}

#header h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-family: var(--font-code);
    padding: 0 0 0.5rem 0;
    width: 100%;
    max-width: 500px; 
    font-size: var(--font-size-base);
   

}


@media (width >= 451px) and (width <= 800px){
    #header h1 {
        max-width: 585px;
        font-size: var(--font-xl);
    }
}

@media (width > 800px){
    #header h1 {
        max-width: 700px;
        font-size: var(--font-xl);
    }
}

#header p {
    text-align: justify;
    font-size: var(--font-size-sm);
    max-width: 600px;
    text-indent: 0.625rem;
}

@media (width >= 451px) and (width <= 800px){
    #header p {
        font-size: var(--font-size-sm);
    }
}
@media (width > 800px){
    #header p {
        font-size: var(--font-size-base);
    }
}