#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-base) 0;

    width: 100%;
    height: 15.625rem;
    user-select: none;

}

#main section {
    width: 100%;
    height: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main section h2 {
    text-align: center;
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-base);
}

@media (width >= 451px){
    #main section h2 {
        font-size: var(--spacing-lg);
    }
}

#main section ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: var(--spacing-base);
    padding: 0 var(--spacing-base);
}

@media (width >= 451px) and (width <= 800px){
    #main section ul {
        max-width: 450px;
    }
}

@media (width > 800px){
    #main section ul {
        max-width: 700px;
    }
}

#main section ul li a {
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    
    padding: var(--spacing-sm);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 1s;
}

#main section ul li a i {
    position: relative;
    transition: 1s;
    z-index: 3;
}

#main section ul li a span {
    font-family: var(--font-code);
    
    position: relative;
    transition: 1s;
    z-index: 3;
}

@media (width >= 451px){
    #main section ul li a {
        font-size: var(--font-size-lg);
    }
}

#main section ul li:nth-child(1) a .fa-right-long,
#main section ul li:nth-child(2) a .fa-right-long,
#main section ul li:nth-child(3) a .fa-right-long {
    display: none;
}

#main section ul li:nth-child(1) a::before,
#main section ul li:nth-child(2) a::before,
#main section ul li:nth-child(3) a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-info);
    border-radius: 10px;
    z-index: 1;
    transition: 1s;
    transform: scaleX(0);
    transform-origin: left;
    overflow: hidden;
    box-shadow: 0 0 10px var(--color-info);

    
}



#main section ul li:nth-child(1) a:hover .fa-right-long,
#main section ul li:nth-child(2) a:hover .fa-right-long,
#main section ul li:nth-child(3) a:hover .fa-right-long {
    display: inline;
    position: absolute;
    transition: 1s;

    transform: translateX(270px);
    animation: toRight 0.9s ease-in-out;
 
}

@media (width >= 451px) and (width <= 800px){
    #main section ul li:nth-child(1) a:hover .fa-right-long,
    #main section ul li:nth-child(2) a:hover .fa-right-long,
    #main section ul li:nth-child(3) a:hover .fa-right-long {
        transform: translateX(370px);
    }
}

@media (width > 800px){
    #main section ul li:nth-child(1) a:hover .fa-right-long,
    #main section ul li:nth-child(2) a:hover .fa-right-long,
    #main section ul li:nth-child(3) a:hover .fa-right-long {
        transform: translateX(500px);
    }
}

#main section ul li a:hover::before {
    transform: scaleX(1);
}

#main section ul li a:hover i,
#main section ul li a:hover span {
    transform: rotateX(360deg);

}


@keyframes toRight {
    from {
    transform: translateX(-100px);
    }
    to {
    transform: translateX(270px);
    }
}


@media (width >= 451px) and (width <= 800px){
    @keyframes toRight {
        from {
        transform: translateX(-100px);
        }
        to {
        transform: translateX(370px);
        }
    }
}

@media (width > 800px){
    @keyframes toRight {
        from {
        transform: translateX(-100px);
        }
        to {
        transform: translateX(500px);
        }
    }
}