#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-base) 0;

    width: 100%;
    height: 15.625rem;
    user-select: none;

}

#main section {
    width: 100%;
    height: 100%;
    max-width: 37.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main section h2 {
    text-align: center;
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-base);
}

@media (width >= 28.1875rem){
    #main section h2 {
        font-size: var(--spacing-lg);
    }
}

#main section ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-base);
    padding: 0 var(--spacing-base);
}

@media (width >= 28.1875rem) and (width <= 50rem){
    #main section ul {
        max-width: 28.125rem;
    }
}

@media (width > 50rem){
    #main section ul {
        max-width: 43.75rem;
    }
}

#main section ul li a {
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    
    padding: var(--spacing-sm);
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

#main section ul li a i {
    position: relative;
    transition: 0.5s;
    z-index: 3;
}

#main section ul li a span {
    font-family: var(--font-code);
    
    position: relative;
    transition: 0.5s;
    z-index: 3;
}

@media (width >= 28.1875rem){
    #main section ul li a {
        font-size: var(--font-size-lg);
    }
}

#main section ul li a .fa-right-long {
    display: none;
}

#main section ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    z-index: 1;
    transition: 0.5s;
    transform: scaleX(0);
    transform-origin: left;
    overflow: hidden;
     
}

.a-dark-before::before {
    background: var(--color-info);
    box-shadow: 0 0 0.625rem var(--color-info);
}

/* manipulado com js */
.a-dark-before.is-filled {
    color: var(--color-light);
    text-shadow: 1px 1px 2px var(--color-dark);
}

.a-light-before::before {
    background: var(--color-warning);
    box-shadow: 0 0 0.625rem var(--color-warning); 
}

/* manipulado com js */
.a-light-before.is-filled {
    color:  var(--color-dark);
    text-shadow: 1px 1px 2px var(--color-light);
}

/* manipulado com js */
#main section ul li a.is-filled .fa-right-long {
    display: inline;
    position: absolute;
    transition: 0.5s;

    transform: translateX(270px);
    animation: toRight 0.9s ease-in-out;
 
}
/* Adjustments for different screen sizes */

@media (min-width: 376px) and (max-width: 450px){

    /* manipulado com js */
    #main section ul li:nth-child(1) a.is-filled .fa-right-long,
    #main section ul li:nth-child(2) a.is-filled .fa-right-long,
    #main section ul li:nth-child(3) a.is-filled .fa-right-long {
        transform: translateX(302px);
    }
}


@media (min-width: 451px) and (max-width: 800px){

    /* manipulado com js */
    #main section ul li:nth-child(1) a.is-filled .fa-right-long,
    #main section ul li:nth-child(2) a.is-filled .fa-right-long,
    #main section ul li:nth-child(3) a.is-filled .fa-right-long {
        transform: translateX(370px);
    }
}

@media (min-width: 50rem){

    /* manipulado com js */
    #main section ul li:nth-child(1) a.is-filled .fa-right-long,
    #main section ul li:nth-child(2) a.is-filled .fa-right-long,
    #main section ul li:nth-child(3) a.is-filled .fa-right-long {
        transform: translateX(31.25rem);
    }
}

#main section ul li a.is-filled::before {
    transform: scaleX(1);
}

/* manipulado com js */
#main section ul li a.is-filled i,
#main section ul li a.is-filled span {
    transform: rotateX(360deg);

}


@keyframes toRight {
    from {
    transform: translateX(-6.25rem);
    }
    to {
    transform: translateX(16.875rem);
    }
}


@media (min-width: 376px) and (max-width: 450px){
      @keyframes toRight {
        from {
        transform: translateX(-6.25rem);
        }
        to {
        transform: translateX(302px);
        }
    }

}

@media (min-width: 451px) and (max-width: 50rem){
    @keyframes toRight {
        from {
        transform: translateX(-6.25rem);
        }
        to {
        transform: translateX(23.125rem);
        }
    }
}

@media (min-width: 50rem){
    @keyframes toRight {
        from {
        transform: translateX(-6.25rem);
        }
        to {
        transform: translateX(31.25rem);
        }
    }
}